body
{
    margin: 0;
    padding: 0;
    background-color: #53b6f5;
    font-family: 'Arial';
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.login{
    width: 400px;
    overflow: hidden;
    margin: auto;
    margin-top: 40px;
    padding: 50px;
    background: #ffb81e;
    border-radius: 15px ;

}
h2{
    text-align: center;
    color: #000000;
    padding: 20px;
}
label{
    color: #000000;
    font-size: 17px;
}
#Uname{
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
}
#Pass{
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 8px;

}

#Pass1{
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 8px;

}

#Pass2{
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 8px;

}


#Fname{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#Lname{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#Email{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}


#CPass{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#RPass{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#log{
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: #ffffff;


}
#sign-up{
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: #ffffff;
}
span{
    color: black;
    font-size: 17px;
}
a{
    float: right;

}